VITE_MANAGEMENT_API_URL=https://api.e-zt0psk82q3bi.dev.cks-env.com
# e-zt0psk82q3bi dev env: copy to .env for local demo + verify
VITE_GAME_API_HTTP_URL=https://game.e-zt0psk82q3bi.dev.cks-env.com/graphql
VITE_GAME_API_WS_URL=wss://game.e-zt0psk82q3bi.dev.cks-env.com/graphql
VITE_APP_ID=1
VITE_ORG_ID=1
